{% extends "base.html" %}

{% block content %}
    {% set user_list = ['инженер-исследователь', 'пилот', 'строитель', 'экзобиолог',
        'врач', 'инженер по терраформированию', 'климатолог', 'спец по радиационной защите',
        'астрогеолог', 'гляциолог', 'инженер жизнеобеспечения', 'метеоролог', 'оператор марсохода',
        'киберинженер', 'штурман', 'пилот дронов'] %}
    {% if title == 'ol'%}
        <h2>Список профессий</h2>
        <ol>
            {% for user in user_list %}
                <li>  {{ user }}</li>
            {% endfor %}
        </ol>
    {% elif title == 'ul'%}
        <h2>Список профессий</h2>
        <ul>
            {% for user in user_list %}
                <li>  {{ user }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>Неверный параметр</h2>
    {% endif %}
{% endblock %}